{% extends "printBase.html" %}
{% block body %}
{% load staticfiles %}

<body class="" onLoad="javascript: ;">
	<div class='viewFormStyle'>
		<div class="container">
			<div class="row"> 
				<div class="col-md-12 col-sm-12">
					<h2><b>Anger Management Intake Form</b></h2>
					<h4>Date of Assessment: <b>{{date_of_form}}</b></h4>

					<div id='header-margin-top'>
						<!-- ___________________________________DEMOGRAPHIC SECTION___________________________________ -->
						<table class='align-form-center'>
							<tr><td id='viewHeaderBox'>DEMOGRAPHICS</td></tr>
						</table>

						<div class='viewSectionWrapper'>
							<table>
								<tr>
									<td>
										<span id='viewLabel'>Name: </span>
									</td>
									<td>
										<div id='viewAns'>{{AM.client.lname}}, {{AM.client.fname}} &nbsp{{AM.client.middleInit}}</div>
									</td>

									<td>
										<div style='margin-left:200px;;'>
											<span id='viewLabel'>DOB: </span>
										</div>
									</td>
									<td>
										<div id='viewAns'>{{AM.client.dob}}</div>
									</td>
								</tr>
							</table>

							<div id='viewVerticalSpace'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Home Address: </span>
										</td>

										<td>
											<div id='viewAns'>{{AM.client.street_no}} {{AM.client.street_name}} <em>&nbsp&nbsp{{AM.client.apartment_no}}</em></div>
										</td>
									</tr>

									<tr>
										<td></td>
										<td>
											<div id='viewAnsIndent'>
												{{AM.client.city}}, {{AM.client.state}} {{AM.client.zip_code}}
											</div>
										</td>
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpace'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Probation Officer/Court of Referral: </span>
										</td>

										<td>
											<div id='viewAns'>{{AM.client.probationOfficer}}</div>
										</td>
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpace'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Marital Status: </span>
										</td>

										<td>
											<div id='img_div'>
												<img src="{{images.married}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Married</span>
										</td>

										<td>
											<div id='img_divLong'>
												<img src="{{images.single}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Single</span>
										</td>

										<td>
											<div id='img_divLong'>
												<img src="{{images.divorced}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Divorced</span>
										</td>

										<td>
											<div id='img_divLong'>
												<img src="{{images.separated}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Seperated</span>
										</td>
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpace'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Living Situation: </span>
										</td>

										<td>
											<div id='img_div'>
												<img src="{{images.partner}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Live with partner</span>
										</td>

										<td>
											<div id='img_divLong'>
												<img src="{{images.alone}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Live alone</span>
										</td>

										<td>
											<div id='img_divLong'>
												<img src="{{images.family}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Live w/family</span>
										</td>

										<td>
											<div id='img_divLong'>
												<img src="{{images.friend}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Friend</span>
										</td>
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpace'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>How long at current residence? </span>
										</td>

										<td>
											<div id='viewAns'>{{AM.demographic.months_res}} month(s)</div>
										</td>

										<td>
											<div id='viewAns' style='margin-left:10px;'>{{AM.demographic.years_res}} year(s)</div>
										</td>

										<td>
											<div style='margin-left:40px;'>
												<span id='viewLabel'>Rent</span>
											</div>
										</td>
										<td>
											<img src="{{images.rent}}" id='checkbox_img_size'>
										</td>

										<td>
											<div style='margin-left:20px;'>
												<span id='viewLabel'>Own</span>
											</div>
										</td>
										<td>
											<img src="{{images.own}}" id='checkbox_img_size'>
										</td>
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpace'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Dependents: </span>
										</td>

										<td style='padding-left:50px;'>
											<span id='viewLabel'>How many children?</span>
										</td>

										<td>
											<div id='viewAns'>{{AM.demographic.num_children}}</div>
										</td>

										<td style='padding-left:35px;'>
											<span id='viewLabel'>Spouse:</span>
										</td>

										<td>
											<div id='viewAns'>{{spouse}}</div>
										</td>

										<td style='padding-left:35px;'> 
											<span id='viewLabel'>Other Dependants:</span>
										</td>

										<td>
											<div id='viewAns'>{{AM.demographic.other_dependants}}</div>
										</td>
									</tr>
								</table>
							</div>
						</div> <!-- END DEMOGRAPHIC SECTION -->


						<!-- ___________________________________EDUCATION SECTION___________________________________ -->
						<div id='section_separation'>
							<table class='align-form-center'>
								<tr><td id='viewHeaderBox'>EDUCATION</td></tr>
							</table>
						</div>


						<div class='viewSectionWrapper'>
							<table>
								<tr>
									<td>
										<span id='viewLabel'>Highest grade completed:</span>
									</td>

									<td>
										<div id='img_div'>
											<img src="{{images.partner}}" id='checkbox_img_size'>
										</div>
									</td>

									<td>
										<span id='viewLabel'>GED</span>
									</td>

									<td>
										<div id='img_divLong'>
											<img src="{{images.alone}}" id='checkbox_img_size'>
										</div>
									</td>

									<td>
										<span id='viewLabel'>HS</span>
									</td>

									<td>
										<div id='img_divLong'>
											<img src="{{images.family}}" id='checkbox_img_size'>
										</div>
									</td>

									<td>
										<span id='viewLabel'>College/Degree Received</span>
									</td>
								</tr>
							</table>

							<div id='viewVerticalSpaceVeryLow'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>If drop out, why?</span>
										</td>

										<td>
											<div id='viewAns'><em>{{AM.demographic.resasonDO}}</em></div>
										</td>
									</tr>
								</table>
							</div>
						</div>



						<!-- ___________________________________EMPLOYMENT SECTION___________________________________ -->
						<div id='section_separation'>
							<table class='align-form-center'>
								<tr><td id='viewHeaderBox'>EMPLOYMENT</td></tr>
							</table>
						</div>


						<div class='viewSectionWrapper'>
							<table>
								<tr>
									<td>
										<span id='viewLabel'>Current Employee:</span>
									</td>

									<td>
										<div id='viewAns'>{{AM.demographic.employee}}</div>
									</td>

									<td>
											<span id='viewLabel' style='margin-left:100px;'>Phone:</span>
									</td>

									<td>
										<div id='viewAns'>{{emp_phone}}</div>
									</td>
								</tr>
							</table>

							<div id='viewVerticalSpaceVeryLow'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Address:</span>
										</td>

										<td>
											<div id='viewAns'>{{AM.demographic.emp_address}}</div>
										</td>	
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpaceVeryLow'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Current job title:</span>
										</td>

										<td>
											<div id='viewAns'>{{AM.demographic.job_title}}</div>
										</td>

										<td>
											<span id='viewLabel' style='margin-left:117px;'>Length of employment:</span>
										</td>

										<td>
											<div id='viewAns'>{{AM.demographic.employed_months}} month(s)</div>
										</td>

										<td>
											<div id='viewAns' style='margin-left:10px;'>{{AM.demographic.employed_years}} year(s)</div>
										</td>
									</tr>
								</table>
							</div>
						</div>

						<!-- ___________________________________HEALTH SECTION___________________________________ -->
						<div id='section_separation'>
							<table class='align-form-center'>
								<tr><td id='viewHeaderBox'>MEDICAL/HEALTH</td></tr>
							</table>
						</div>

						<div class='viewSectionWrapper'>
							<table>
								<tr>
									<td>
										<span id='viewLabel'>Do you have any ongoing health problems?</span>
									</td>

									<td>
										<div <div id='img_div'>
											<img src="{{images.goodHealth}}" id='checkbox_img_size'>
										</div>
									</td>

									<td>
										<span id='viewLabel'>Yes</span>
									</td>

									<td>
										<div <div id='img_div'>
											<img src="{{images.badHealth}}" id='checkbox_img_size'>
										</div>
									</td>

									<td>
										<span id='viewLabel'>No</span>
									</td>
								</tr>
							</table>

							<div id='shortSpaceView'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>If yes, please explain: </span>
										</td>

										<td>
											<div id='viewAns'><em>{{AM.demographic.health_exp}}</em></div>
										</td>
									</tr>
								</table>
							</div>

							<div id='viewVerticalSpaceVeryLow'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>Are you currently taking any medications? </span>
										</td>

										<td>
											<div id='img_div'>
												<img src="{{images.onMeds}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>Yes</span>
										</td>

										<td>
											<div id='img_div'>
												<img src="{{images.noMeds}}" id='checkbox_img_size'>
											</div>
										</td>

										<td>
											<span id='viewLabel'>No</span>
										</td>
									</tr>
								</table>
							</div>

							<div id='shortSpaceView'>
								<table>
									<tr>
										<td>
											<span id='viewLabel'>If yes, what are you taking? </span>
										</td>

										<td>
											<div id='viewAns'><em>{{AM.demographic.whatMedicine}}</em></div>
										</td>
									</tr>
								</table>
							</div>
						</div>

		
						<!-- ___________________________________BOTTOM SECTION___________________________________ -->
						<div id='section_separation'>
							<table class='align-form-center'>
								<tr><td id='viewHeaderBox'>PSYCHIATRIC STATUS</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}